<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">

	<!-- wp:template-part {"slug":"header","theme":"first-draft","tagName":"header"} /-->

	<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
	<main class="wp-block-group">
		<!-- wp:pattern {"slug":"first-draft/query-list-default"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"first-draft","tagName":"footer"} /-->

</div>
<!-- /wp:group -->
