<!-- wp:template-part {"slug":"header","theme":"first-draft","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"first-draft","tagName":"footer"} /-->
