/* Padding adjustments. */
.wp-block-social-links .wp-social-link .wp-block-social-link-anchor {
	padding: var( --wp--preset--spacing--20 );
}

.wp-block-social-links.is-style-pill-shape .wp-social-link .wp-block-social-link-anchor {
	padding: var( --wp--preset--spacing--20 ) var( --wp--preset--spacing--40 );
}

/* Font-size fixes to match the theme. */
.wp-block-social-links.has-small-icon-size {
        font-size: var( --wp--preset--font-size--lg );
}

.wp-block-social-links.has-normal-icon-size {
        font-size: var( --wp--preset--font-size--xl );
}

.wp-block-social-links.has-large-icon-size {
        font-size: var( --wp--preset--font-size--2-xl );
}

.wp-block-social-links.has-huge-icon-size {
        font-size: var( --wp--preset--font-size--3-xl );
}

.wp-block-social-links.has-small-icon-size .wp-block-social-link-label:not( .screen-reader-text ) {
	font-size: var( --wp--preset--font-size--sm );
}

.wp-block-social-links.has-normal-icon-size .wp-block-social-link-label:not( .screen-reader-text ) {
	font-size: var( --wp--preset--font-size--md );
}

.wp-block-social-links:is( .has-large-icon-size, .has-huge-icon-size ) .wp-block-social-link-label:not( .screen-reader-text ) {
	font-size: var( --wp--preset--font-size--xs );
	font-weight: 500;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}
