/* Zero out default browser spacing. */
.wp-block-pullquote blockquote {
	margin: 0;
	padding: 0;
}

/* Cite doesn't have a standalone block-level wrapper. */
.wp-block-pullquote cite {
	display: block;
}

/* Fix for WP not applying block spacing inside of pullquotes. */
.wp-block-pullquote blockquote > * {
	margin-block-start: 0;
	margin-block-end: 0;
}

.wp-block-pullquote blockquote > * + * {
	margin-block-start: var( --wp--style--block-gap );
}


