/* List spacing. */
.wp-block-table-of-contents > ol {
	margin-block-start: 0;
	margin-block-end: 0;
}

/* Tighten spacing between list elements. */
.wp-block-table-of-contents ol :where( li + li, li > ol ) {
	margin-block-start: revert;
}
