/* Make WP's default borders smaller. */
.wp-block-table thead,
.wp-block-table tfoot {
	border-width: 2px;
}

/* Fixes inconsistent default `thead` and `tfoot` alignment. */
.wp-block-table thead tr {
	text-align: left;
}

/* Less prominent bold for headers. */
.wp-block-table th,
.wp-block-table tfoot { font-weight: 500; }

/**
 * `theme.json` border support for tables is horribly broken, so we're just
 * inheriting everything here.
 */
.wp-block-table thead,
.wp-block-table tfoot,
.wp-block-table tr th,
.wp-block-table tr td {
	border-color: inherit;
}

/* Styling via `theme.json` appends to the table instead of the wrapper. */
.wp-block-table.is-style-stripes {
	border: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child( odd ) {
	background-color: var( --wp--preset--color--neutral-100 );
}
