/* Removes WP's default background color on the header. */
:where(.wp-block-calendar table:not(.has-background) th) {
	background: unset;
}

/* Overwrites WP's default border-color on cells. */
.wp-block-calendar table:where( :not( .has-text-color ) ) :is( td, th ) {
	border-color: var( --wp--preset--color--neutral-300 );
}

/* More spacing than WP's default for cells. */
.wp-block-calendar :is( td, th ) {
	padding: var( --wp--preset--spacing--30 ) var( --wp--preset--spacing--10 );
}

.wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	margin: var( --wp--preset--spacing--10 ) var( --wp--preset--spacing--40 ) 0;
}
