
.wp-block-image.is-style-hand-drawn img {
	border: 2px solid currentColor;
	overflow: hidden;
	box-shadow: var( --wp--custom--shadow--md );
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}
